/* ------------------------------------------------------------ */
/*                  HAPYAK BASE CSS                             */
/*                  DATE:  04.04.16                             */
/* ------------------------------------------------------------ */
/*
      HAPYAK SKELETON DIRECTORY
      1.  CHAPTER MENU
      2.  TEXT ANNOTATION
      3.  LINKED TEXT
      4.  QUIZ ANNOTATION
*/
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/*                      CHAPTER MENU                            */
/* ------------------------------------------------------------ */
.hapyak-contents-column1.expanded {
  /* reset background of ch menu */
  background: rgba(255, 255, 255, 0);
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded {
  background: none;
  border-radius: 0;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-inner {
  border-radius: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close {
  background-color: rgba(255, 255, 255, 0);
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close span {
  background-color: rgba(255, 255, 255, 0);
  font-size: 50px;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close {
  right: 10px;
  top: 7px;
  color: white;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close :hover {
  color: white;
}

.hapyak-contents-legacy.collapsed h3.popcorn-contents-title {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.hapyak-contents-legacy.expanded h3.popcorn-contents-title {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px 20px;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-hidden {
  margin-top: 0;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul {
  margin-top: 0;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul li {
  color: white;
  padding: 20px;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul :hover, .popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul :active {
  color: white;
}

.hapyak-contents-column1.expanded .popcorn-contents-title {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 0px;
  padding: 15px;
}

.hapyak-contents-column1.collapsed h3.popcorn-contents-title,
.hapyak-contents-column1.expanded h3.popcorn-contents-title {
  /* expanded chapter menu title */
  background: rgba(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 0;
  padding: 15px;
}

.hapyak-contents-column1.expanded .popcorn-contents-inner {
  /* expanded chapter menu body */
  color: white;
  padding-top: 27px;
}

.hapyak-contents-column1.expanded {
  background: rgba(0, 0, 0, 0.4);
}

.hapyak-contents-column1.expanded .popcorn-contents-close {
  background: rgba(255, 255, 255, 0);
  border: none;
  padding-top: 2px;
  right: 10px;
  top: 17px;
  font-size: 3em;
  line-height: 10px;
}

.hapyak-contents-column1.expanded .popcorn-contents-close:hover {
  color: white;
}

.popcorn-contents-inner li {
  /* chapter li */
  color: white;
}

.hapyak-contents-column1 .popcorn-contents-list > li:hover,
.hapyak-contents-column1 .popcorn-contents-list > li.active {
  /* chapter li */
  color: white;
}

/* ------------------------------------------------------------ */
/*                     TEXT ANNOTATION                          */
/* ------------------------------------------------------------ */
.popcorn-pop.hapyak-theme-black.active:not(.hapyak-linked) {
  /* default pop */
  background: rgba(68, 68, 68, 0.4);
  color: white;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

.popcorn-pop.hapyak-theme-black.active:hover {
  /* default pop */
}

/* ------------------------------------------------------------ */
/*                      LINKED TEXT                             */
/* ------------------------------------------------------------ */
.popcorn-pop.hapyak-theme-black.active.hapyak-linked {
  /* pop button */
  border-radius: 8px;
}

.popcorn-pop.hapyak-theme-black.active.hapyak-linked:hover {
  /* pop button */
}

.hapyak-annotation-container > .hapyak-linked:hover:not(.hapyak-theme-pop) {
  box-shadow: none;
}

/* ------------------------------------------------------------ */
/*                      QUIZ ANNOTATION                         */
/* ------------------------------------------------------------ */
/* QUIZ BG COLOR AND CURVE */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-container {
  background: rgba(255, 255, 255);
  border: 3px solid #231f20;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}

/* TO ADJUST PADDING FOR HEADER */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer {
  padding: 0;
  margin-bottom: 5px;
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .questions {
  margin: 0;
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder {
  padding: 0;
}

/* TO ADJUST QUIZ HEADER STYLE */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .question-text {
  margin-top: -10px;
  padding-top: 30px;
  padding-bottom: 10px;
  background: rgba(250, 199, 40);
  color: #231f20;
  text-align: center;
  width: auto;
  margin-bottom: 20px;
}

/* TO ADJUST QUIZ ANSWER TEXT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .label-text {
  color: #231f20;
}

/* QUIZ THANK YOU MESSAGE TEXT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .thank-you {
  color: #231f20;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* INCORRECT ANSWER STYLING */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .incorrect {
  margin: 20px;
}

/* QUIZ REVIEW ANSWER TEXT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder .answer > pre {
  color: #333333;
}

/* QUIZ REVIEW ANSWER TEXT POSITION */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .summary .answer {
  margin-left: 15px;
}

/* QUIZ REVIEW BOX POSITION */
.hapyak-annotation-container .popcorn-quiz.hapyak-review-screen > .hapyak-quiz-container, .hapyak-skeleton-annotation-container .popcorn-quiz.hapyak-review-screen > .hapyak-quiz-container {
  top: 100px;
}

/* QUESTION ALIGNMENT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .questions {
  overflow: hidden;
}

.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.submit-answers.btn-success {
  border: 3px solid #007934;
  border-radius: 0px;
  color: white;
  background: #007934;
  text-shadow: none;
  box-shadow: none;
}

/* NEXT BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.btn-primary.submit-answers {
  border: 3px solid #007934;
  border-radius: 0px;
  color: white;
  background: #007934;
  text-shadow: none;
  box-shadow: none;
}

/* DONE BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.btn-primary.ok {
  border: 3px solid #ebe7e8;
  border-radius: 0px;
  color: #231f20;
  background: none;
  text-shadow: none;
  box-shadow: none;
}

/* CANCEL BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.skip.hide {
  border: 3px solid #ebe7e8;
  border-radius: 0px;
  color: #231f20;
  background: none;
  text-shadow: none;
  box-shadow: none;
}

/* CANCEL BUTTON HOVER
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.skip.hide:hover {
  background: #E6E6E6;
  color: ##1A1A1A;
}*/

/* QUIZ BACK BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.go-back {
  border: 3px solid #ebe7e8;
  border-radius: 0px;
  color: #231f20;
  background: #ebe7e8;
  text-shadow: none;
  box-shadow: none;
}

/* QUIZ BACK BUTTON HOVER
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.go-back:hover {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}*/

/* +INPUT BUTTON */
/* QUIZ ANSWER FONT */
.hapyak-annotation-container .popcorn-contents, .hapyak-annotation-container .popcorn-quiz, .hapyak-skeleton-annotation-container .popcorn-contents, .hapyak-skeleton-annotation-container .popcorn-quiz {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* QUIZ SHORT ANSWER FONT */
.hapyak-root input, .hapyak-root button, .hapyak-root select, .hapyak-root textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* ANSWER PADDING */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder input[type=checkbox] + label > .hapyak-select, .hapyak-player .hapyak-quiz-builder:not(.editor) input[type=checkbox]:checked + label > .hapyak-select {
  margin-left: 40px;
}

.hapyak-player .quiz-viewer .answers .answer > input[type=radio] + label, .hapyak-player .quiz-viewer .answers .answer > input[type=checkbox] + label {
  margin-left: 40px;
}

/* ANSWER FONT COLOR */
.hapyak-player .hapyak-quiz-builder.viewer .label-text {
  color: #63666a;
}

/* QUIZ BUTTON FORMATING */
.hapyak-player .hapyak-quiz-builder.viewer .btn {
  margin: -40px 25px 15px 5px;
}

.hapyak-player .hapyak-quiz-builder i {
  color: white;
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-review-screen .hapyak-quiz-builder.viewer .question-text {
  color: #444444;
  background: rgba(255, 255, 255);
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-review-screen .hapyak-quiz-builder.viewer .thank-you {
  background: rgba(68, 68, 68);
  color: white;
  width: 100%;
}

.popcorn-hotlink.active {
  background-color: rgba(68, 68, 68);
}

/* EXTRA */
.page-number {
  text-transform: uppercase;
}
