//  HAPYAK CUSTOM CSS

.hapyak-contents-column1.expanded {
  /* reset background of ch menu */
  background: rgba(255, 255, 255, 0);
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded {
  background: none;
  border-radius: 0;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-inner {
  border-radius: 0;
  padding: 0;

    background: rgba(0, 0, 0, 0.4);

}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close {
  background-color: rgba(255, 255, 255, 0);
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close span {
  background-color: rgba(255, 255, 255, 0);
  font-size: 50px;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close {
  right: 10px;
  top: 7px;

    color: rgb(255, 255, 255);

}
.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-close :hover {

    color: rgb(255, 255, 255);

}

.hapyak-contents-legacy.collapsed h3.popcorn-contents-title {

    background: rgba(0, 0, 0, 0.4);


    color: rgb(255, 255, 255);

}

.hapyak-contents-legacy.expanded h3.popcorn-contents-title {

    background: rgba(0, 0, 0, 0.4);


    color: rgb(255, 255, 255);

  padding: 30px 20px;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded .popcorn-contents-hidden {
  margin-top: 0;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul {
  margin-top: 0;
}

.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul li {

    color: rgb(255, 255, 255);

  padding: 20px;
}
.popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul :hover, .popcorn-contents.top-left.active.hapyak-contents-legacy.visible.expanded ul :active {

    color: rgb(255, 255, 255);

}

.hapyak-contents-column1.expanded .popcorn-contents-title {

    background: rgba(0, 0, 0, 0.4);


    color: rgb(255, 255, 255);

  margin-bottom: 0px;
  padding: 15px;
}

.hapyak-contents-column1.collapsed h3.popcorn-contents-title,
.hapyak-contents-column1.expanded h3.popcorn-contents-title {
  /* expanded chapter menu title */

    background: rgba(0, 0, 0, 0.4);


    color: rgb(255, 255, 255);

  margin-bottom: 0;
  padding: 15px;
}

.hapyak-contents-column1.expanded .popcorn-contents-inner {
  /* expanded chapter menu body */

    color: rgb(255, 255, 255);

  padding-top: 27px;
}

.hapyak-contents-column1.expanded {

    background: rgba(0, 0, 0, 0.4);

}

.hapyak-contents-column1.expanded .popcorn-contents-close {
  background: rgba(255, 255, 255, 0);
  border: none;
  padding-top: 2px;
  right: 10px;
  top: 17px;
  font-size: 3em;
  line-height: 10px;
}

.hapyak-contents-column1.expanded .popcorn-contents-close:hover {

    color: rgb(255, 255, 255);

}


.popcorn-contents-inner li {
  /* chapter li */

    color: rgb(255, 255, 255);

}

.hapyak-contents-column1 .popcorn-contents-list > li:hover,
.hapyak-contents-column1 .popcorn-contents-list > li.active {
  /* chapter li */

    color: rgb(255, 255, 255);

}

.popcorn-pop.hapyak-theme-black.active {
  /* default pop */

    background: rgba(68, 68, 68, 0.4);


    color: rgb(255, 255, 255);



    border-left: 0px solid rgb(0, 0, 0);


    border-right: 0px solid rgb(0, 0, 0) ;


    border-top: 0px solid rgb(0, 0, 0);


    border-bottom: 0px solid rgb(0, 0, 0);

}

.popcorn-pop.hapyak-theme-black.active:hover {
  /* default pop */


}

.hapyak-annotation-container > .hapyak-linked:hover:not(.hapyak-theme-pop) {
  box-shadow: none;
}



/* ------------------------------------------------------------ */
/*                      QUIZ ANNOTATION                         */
/* ------------------------------------------------------------ */
/* QUIZ BG COLOR AND CURVE */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-container {

    background: rgba(250, 250, 250, 1);


    border: solid 5px rgb(17, 17, 17);


    -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}

/* ADJUSTING PADDING FOR HEADER */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer {
  padding: 0;
  margin-bottom: 5px;
}
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .questions {
  margin: 0;
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder {
  padding: 0;
}

/* QUIZ HEADER STYLE */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .question-text {
  margin-top: -10px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;

    background: rgba(249, 195, 51, 1);

  font-weight: 500;

    color: rgb(17, 17, 17);
    font-size: 27px;
    line-height: 36px;

  text-align: left;
  width: auto;
  margin-bottom: 30px;
}

/* QUIZ ANSWER TEXT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .label-text {

    color: rgb(17, 17, 17);
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 10px;

}

/* QUIZ THANK YOU MESSAGE TEXT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .thank-you {

    color: rgb(17, 17, 17);

  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* INCORRECT ANSWER STYLING */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .incorrect {
  margin: 20px;
}

/* QUIZ REVIEW ANSWER TEXT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder .answer > pre {

    color: rgb(17, 17, 17);
    font-weight: 400;
    font-size: 18px;
    margin-top: -10px;

}

/* QUIZ REVIEW ANSWER TEXT POSITION */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .summary .answer {
  margin-left: 20px;
}

/* QUIZ REVIEW BOX POSITION */
.hapyak-annotation-container .popcorn-quiz.hapyak-review-screen > .hapyak-quiz-container, .hapyak-skeleton-annotation-container .popcorn-quiz.hapyak-review-screen > .hapyak-quiz-container {
  top: -10px;
}

/* QUESTION ALIGNMENT */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder.viewer .questions {
  overflow: hidden;
}

/*button.btn.btn-large.submit-answers.btn-success.disabled {
  background: gray;
  border-color: gray;
  box-shadow: none;
  text-shadow: none;
}*/
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.submit-answers.btn-success {

    background: rgb(249, 195, 51);


    color: rgb(17, 17, 17);
    font-size: 24px;
    font-weight: 500;


    border: 3px solid rgb(249, 195, 51);

  box-shadow: none;
  text-shadow: none;
  border-radius: 20px;
}

/*button.btn.btn-large.submit-answers.btn-success.disabled {
  border: 3px solid #d1d1d1;
}*/
/* SUBMIT BUTTON DISABLED HOVER */
/*button.btn.btn-large.btn-primary.submit-answers.disabled:hover {
  background: #d1d1d;
  cursor: not-allowed;
}*/
/* NEXT BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.btn-primary.submit-answers {

    background: rgb(249, 195, 51);


    color: rgb(17, 17, 17);
    font-size: 24px;
    font-weight: 500;


    border: 3px solid rgb(249, 195, 51);

  box-shadow: none;
  text-shadow: none;
  border-radius: 20px;
}

/* SUBMIT BUTTON HOVER */
/*button.btn.btn-large.btn-primary.submit-answers:hover {

    background: rgb(68, 68, 68);

}*/
/* DONE BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.btn-primary.ok {

    background: rgb(249, 195, 51);


    color: rgb(17, 17, 17);
    font-size: 24px;
    font-weight: 500;


    border-radius: 20px;

    margin-right: 20px;
    margin-bottom: 20px;

}

/* CANCEL BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.skip.hide {
  border: 3px solid rgb(230, 230, 230);
  border-radius: 20px;

    color: rgb(17, 17, 17);
    font-size: 24px;
    font-weight: 500;


    background: rgb(230, 230, 230);

  text-shadow: none;
  box-shadow: none;
}

/* CANCEL BUTTON HOVER */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.skip.hide:hover {
  border-color: rgb(230, 230, 230);
  color: gray;
}

/* QUIZ BACK BUTTON */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.go-back {
  color: white;
  font-size: 24px;
  font-weight: 500;
  background: gray;
  border: 3px solid gray;
  border-radius: 20px;
  box-shadow: none;
  text-shadow: none;
}

/* QUIZ BACK BUTTON HOVER */
.popcorn-quiz:not(.hapyak-editing-quiz) button.btn.btn-large.go-back:hover {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

/* +INPUT BUTTON */
button.new-text-choice.btn.btn-large {
}

/* QUIZ ANSWER FONT */
.hapyak-annotation-container .popcorn-contents, .hapyak-annotation-container .popcorn-quiz, .hapyak-skeleton-annotation-container .popcorn-contents, .hapyak-skeleton-annotation-container .popcorn-quiz {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* QUIZ SHORT ANSWER FONT */
.hapyak-root input, .hapyak-root button, .hapyak-root select, .hapyak-root textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* ANSWER PADDING */
.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-quiz-builder input[type=checkbox] + label > .hapyak-select, .hapyak-player .hapyak-quiz-builder:not(.editor) input[type=checkbox]:checked + label > .hapyak-select {
  margin-left: 40px;
}

.hapyak-player .quiz-viewer .answers .answer > input[type=radio] + label, .hapyak-player .quiz-viewer .answers .answer > input[type=checkbox] + label {
  margin-left: 40px;
}

/* ANSWER FONT COLOR */
.hapyak-player .hapyak-quiz-builder.viewer .label-text {
  color: #63666a;
}

/* QUIZ BUTTON FORMATING */
.hapyak-player .hapyak-quiz-builder.viewer .btn {
  margin: -25px 60px 30px 5px;
}

.hapyak-player .hapyak-quiz-builder i {
  color: white;
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-review-screen .hapyak-quiz-builder.viewer .question-text {

    color: rgb(68, 68, 68);

  background: rgba(255, 255, 255, 0);
}

.popcorn-quiz:not(.hapyak-editing-quiz) .hapyak-review-screen .hapyak-quiz-builder.viewer .thank-you {

    background: rgba(68, 68, 68, 0.7);


    color: rgb(255, 255, 255);

  width: 100%;
}

.popcorn-hotlink.active {

    background-color: rgba(68, 68, 68, 0.6);

}
